<ion-header>
  <ion-toolbar>
    <ion-title>RECOMMENDATION</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <h1>
    <ion-input type="text" [value]="todaysRec + ' oz'" readonly></ion-input>
  </h1>
  <ul>
    <h4>OPTIONS:</h4>
    <li *ngFor="let test of bruh2 | async">
      <ion-button expand="block" (click)="testButt(test.item)">
        {{ test.value }}g {{ test.item }} <br>
      </ion-button>
      <br>
  </ul>
  <h4>INPUT YOUR OWN INFORMATION:</h4>
  <ion-item class="temp">
    <ion-label stacked>Water Intake: </ion-label>
	
    <ion-input type="text" [(ngModel)]="intake" placeholder="input intake in oz"></ion-input>
	<ion-button slot="end" (click)="subtractDrunkWater()">
		enter
	</ion-button>
  </ion-item>
  <br>
  <ion-list>
    <ion-item>
      <!-- <ion-select interface="popover" placeholder="Suggest Less">
        <li *ngFor="let test of bruh2 | async">
          <ion-select-option value=test.item>{{ test.item }}</ion-select-option>
      </ion-select> -->

      <ion-select interface="popover" placeholder="Suggest Less">
        <ion-select-option *ngFor="let test of bruh2 | async"> {{test.item}} </ion-select-option>
      </ion-select>

      <ion-button slot="end">
        enter
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>


