<ion-header>
  <ion-toolbar>
    <ion-title>RECOMMENDATION</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
<p> USERNAME = {{_testService.username}} </p>
<p> PASSWORD = {{_testService.password}} </p>


<ion-item>
  <ion-label stacked>Weather </ion-label>
  <ion-input type="text" [value]="temp + '°F'"></ion-input>
</ion-item>

<ion-item class="temp">
  <ion-label stacked>24hrs Steps</ion-label>
  <ion-input type="text" [(ngModel)]="stepcount" readonly></ion-input>
</ion-item>

<ion-item class="temp">
  <ion-label stacked>24hrs Calories</ion-label>
  <ion-input type="text" [(ngModel)]="caloriesBurned" readonly></ion-input>
</ion-item>
<ion-item class="temp">
  <ion-label stacked>Avg Heart Rate:</ion-label>
  <ion-input type="text" [(ngModel)]="heartRate" readonly></ion-input>
</ion-item>

</ion-content>


