<ion-header>
  <ion-toolbar>
    <ion-title>PROFILE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <br>
  <ion-label stacked>YOUR PROFILE:</ion-label>
  <ion-item>
    <ion-label> Username: {{_testService.username}} </ion-label>
  </ion-item>
  <br>
  <ion-item class="temp">
    <ion-label stacked>Height: </ion-label>
    <ion-input type="text" [value]="height_ft + ' ft ' + height_in + ' in'" readonly></ion-input>
  </ion-item>
  <ion-item class="temp">
    <ion-label stacked>Weight: </ion-label>
    <ion-input type="text" [value]="currentWeight + ' lbs'" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Gender:</ion-label>
    <ion-input type="text" [(ngModel)]="gender" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Age:</ion-label>
    <ion-input type="text" [(ngModel)]="age" placeholder="input age here"></ion-input>
  </ion-item>
  <ion-item class="temp">
    <ion-label stacked>Location: </ion-label>
    <ion-input type="text" [value]="city" readonly></ion-input>
  </ion-item>

  <br>
  <p>TAKE THIS STUFF OUT:</p>
  <ion-item>
    <ion-label stacked>Weather </ion-label>
    <ion-input type="text" [value]="temp + '°F'"></ion-input>
  </ion-item>

  <ion-item class="temp">
    <ion-label stacked>24hrs Steps</ion-label>
    <ion-input type="text" [(ngModel)]="stepcount" readonly></ion-input>
  </ion-item>

  <ion-item class="temp">
    <ion-label stacked>24hrs Calories</ion-label>
    <ion-input type="text" [(ngModel)]="caloriesBurned" readonly></ion-input>
  </ion-item>
  <ion-item class="temp">
    <ion-label stacked>Avg Heart Rate:</ion-label>
    <ion-input type="text" [(ngModel)]="heartRate" readonly></ion-input>
  </ion-item>



  <ul>
    <li *ngFor="let item of item$ | async">
      Name: {{ item.name }} <br>
      Height: {{ item.height }}  <br>
      Weight: {{ item.weight }} <br>
      <br>
  </ul>
  
</ion-content>
