ion-button {
    --background: #bfcdd7;
    --color: black;
}

ion-item {
    --background: #dae6ee;
}

ion-content {
  --background: url("/assets/waterBackground.jpg") no-repeat center center / cover;
}

ion-toolbar {
  --opacity: 0
}

ion-menu-button {
  --color: #000;
}