<ion-header>
  <ion-toolbar>
    <ion-title>PROFILE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-list lines="inset">
    <ion-item>
      <ion-label stacked>Current Position</ion-label>
      <ion-input type="text" [value]="'(' + latitude + ', ' + longitude + ')'"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Current Weather </ion-label>
      <ion-input type="text" [value]="temp + '°F'"></ion-input>
    </ion-item>

  <ion-item class="temp">
    <ion-label stacked>Steps in last 24 Hours</ion-label>
    <ion-input type="text" [(ngModel)]="stepcount" readonly></ion-input>
  </ion-item>
    <ion-item>
      <ion-label stacked>Height:</ion-label>
      <ion-input type="text" [(ngModel)]="height" placeholder="input height here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Weight:</ion-label>
      <ion-input type="text" [(ngModel)]="weight" placeholder="input weight here"></ion-input>
    </ion-item>

  </ion-list>

  <br>
  <ion-button expand="block" (click)="buttonTest()">
    set height / weight
  </ion-button>


  <ul>
    <li *ngFor="let item of item$ | async">
      Name: {{ item.name }} <br>
      Height: {{ item.height }}  <br>
      Weight: {{ item.weight }} <br>
      <br>
  </ul>
  
</ion-content>
