<ion-header>
  <ion-toolbar>
    <ion-title>QUENCH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-item>
    <ion-label stacked>Email:</ion-label>
    <ion-input type="email" [(ngModel)]="email" placeholder="email@domain.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Password:</ion-label>
    <ion-input type="password" [(ngModel)]="password" placeholder="input password here"></ion-input>
  </ion-item>

  <br>


  <ion-button routerLink="/p1" expand="block" (click)="loginClick()">
    login
  </ion-button>
</ion-content>